* {
  margin: 0; /*espaço externo*/
  padding: 0; /*preenchimento interno*/
  box-sizing: border-box; /*border: borda da caixa, tamanho exato da caixa*/
}

a {
  text-decoration: none;
}

html {
  /*variáveis*/
  --bg-color: #00082f;
  --text-color: #bec3d5;
  --primary-color: #4263eb;
  --primary-color-dark: #364fc7;
}

body.light {
  --bg-color: #bec3d5;
  --text-color: #00082f;
}

body.pink {
  --bg-color: #fff0f6;
  --text-color: #1f000b;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}

body.dark-pink {
  --bg-color: #1f000b;
  --text-color: #fff0f6;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  /*<div class="container">*/
  text-align: center; /*alinhamento do texto*/
  width: 300px; /*largura*/
  margin: 60px auto; /*altura*/
}

img {
  width: 100%;
}

img.perfil {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px; /*borda*/
}

h1 {
  font-size: 32px;
  margin-top: 24px; /*margem superior*/
  margin-bottom: 8px; /*margem inferior*/
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

ul {
  list-style: none; /*estilo dos marcadores da lista*/
  margin: 48px 0; /*48px: top e bottom; 0px: right e left*/
}

ul li a {
  height: 53px; /*altura*/
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color); /*cor em hexadecimal*/
  color: #bec3d5;
  text-transform: uppercase; /*Deixar o texto em caixa alta*/
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 400ms;
}

/* pseudo-class */
ul li a:hover {
  background: var(--primary-color-dark);
}

footer {
  font-weight: 500; /*Peso da fonte*/
  font-size: 12px;
  opacity: 0.3; /*Opacidade vai de 0 até 1*/
  transition: opacity 400ms;
  text-transform: uppercase;
}

footer:hover {
  /*Trasinção de opacidade*/
  opacity: 1;
}

footer a {
  color: var(--text-color);
  text-size: 10px;
}
